

body {
  padding: 50;
  margin: 0;
  background-color: rgba(238, 237, 237, 0.753);
  background-image: url("../../images/flower.jpg")
}

.btn:link {
  color: white
}

.btn-primary {
  background-color: midnightblue;
}

#me-photo {
  align-content: left;
  padding-right: 10px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  width: 40%;
  height: 80%
}

#proj-img {
  align-content: left;
  padding-right: 10px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  width: 40%;
  height: 80%
}

.me-intro-card{
  /*
  margin: 20px;
  padding-left: 20px;*/
  background-color: rgba(238, 237, 237, 0.753);
}

.img-center {
  width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto
}

#top-row {
  margin-top: 20px
}

#top_box {
  
  /*border: 1px solid black;
  border-radius: 8px;
  position: sticky;
  left: 20px;
  height: 450px;
  padding-top: 10px;
  width: 100%;*/
  background-image: url("../../images/doorlock.jpg")
}

h4{
  color:rgb(red, green, blue);
  font-family: serif;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: x-large;
  font-weight: bold;
}

h5{
  color:rgb(red, green, blue);
  font-family: serif;
  /*
  padding-top: 10px;
  padding-bottom: 2px;*/
  padding-right: 10px;
  padding-left: 10px;
  font-size: large;
  font-weight: bold;
}

a {
  color: black
}

a:link {
  color: black;
  text-decoration: none;
}
/*
a:visited {
  color: purple;
  text-decoration: none;
}*/

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.body-font {
  font-family: sans-serif;
  font-size: 16px;
  /*font-weight: bold;*/
  text-align: left;
  /*padding: 5px;*/
}

.navbar{
  padding-top:0px;
  padding-bottom: 0px;
  padding-right:50px;
}

@media (max-width: 760px) {
  .body-font {
    font-family: sans-serif;
    font-size: 8px;
    /*font-weight: bold;*/
    text-align: left;
    /*padding: 5px;*/
  }
}
